.direnv
.env
.turbo
node_modules
*.DS_Store
.pnpm-store
.DS_Store
dist/
.data
tsconfig.tsbuildinfo
storybook-static
.astro
.vscode
.env.*
!.env.example
!.env.*.example
# OmniDev
.omni/
omni.local.toml
# OmniDev Provider Files
CLAUDE.md
.claude/
.mcp.json
.cursor

# Android/IntelliJ
build/
.idea/
.gradle/
local.properties
*.iml

# Node/yarn/pnpm logs
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Test/build outputs
coverage/
.eslintcache

skills
